<nav class="navbar navbar-default navbar-fixed-top">
  <div class="main-header">
    <a href="/home">
      <h1 class="title">Coffee < br ></h1>
    </a>

    <a href="/home/new">
      <button class="new-meme" type="button">New Meme</button>
    </a>
  </div>
</nav>
