<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <div class="container">

    <div class="index-posts">
    <% for (let meme of allMemes) { %>
      <h2>Posted by <%= meme.posted_by %></h2>
        <a href="/home/meme/<%= meme._id %>">
          <img class="index-img" src="<%= meme.url %>" alt="meme image">
        </a>
        <div class="likes">
          <h4 class="likeNum">
          <span class="glyphicon glyphicon-thumbs-up"  aria-hidden="true"></span> <%= meme.likes %>
          </h4>
        </div>
      <hr>
    <% } %>
  </div>

    </div>
  </body>
</html>
