<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <hr>

    <% for (let meme of allMemes) { %>
      <h2>Posted by <%= meme.posted_by %></h2>
        <a href="/home/meme/<%= meme._id %>">
          <img src="<%= meme.url %>" alt="meme image">
        </a>
      <hr>
    <% } %>
  </body>
</html>
