<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Meme</title>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <h2>New Meme</h2>

    <form action="/home" method="post">
      <% const now = new Date(); %>
      <input class="input" type="text" name="posted_by" placeholder="Name"><br>
      <input class="input" type="text" name="url" placeholder="Image URL"><br>
      <input type="hidden" name="date_posted" value="<%= now %>">
      <button type="Submit">Post Meme</button>
    </form>
  </body>
</html>
