<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meme</title>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <h3>Posted by <%= oneMeme.posted_by %></h3>
    <img src="<%= oneMeme.url %>" alt="meme image">
  </body>
</html>
