body {
  padding-top: 70px;
  background: url('/images/congruent_outline.png');
  background-color: black;
  background-attachment: fixed;
  color: white;
  font-family: 'Inconsolata', monospace;
}

input {
  color: black;
}

a:hover {
  text-decoration: none;
}

.index-img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid white;
}

.index-posts {
  text-align: center;
  max-width: 400px;
}

.show-posts {
  text-align: center;
  min-width: 80%;
}

.comment-author {
  display: flex;
  font-size: 25px;
  flex-wrap: wrap;
  max-width: 100%;
}

.cmnt-auth {
  color: DodgerBlue;
}

.comment {
  display: flex;
  font-size: 25px;
  text-align: left;
}

.form-control {
  max-width: 300px;
}

.author {
  max-width: 150px;
}

.container {
  padding-top: 75px;
  padding-bottom: 30px;
  height: 100%;
  min-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-family: 'Londrina Outline';
  font-size: 54px;
}

.navbar {
  padding-bottom: 10px;
  background-color: black;
}

.main-header {
  display: flex;
  margin: 0 50px 0 50px ;
}

.new-meme {
  position: absolute;
  right: 30px;
  top: 50px;
}

.decription {
  font-size: 18px;
  color: white;
  font-style: italic;
}

button {
  padding: 5px 15px 5px 15px;
  color: black;
  border-radius: 5px;
  border-color: #00E521;
  background-color: #00E521;
  font-size: 20px;
}

.del-btn {
  border-color: red;
  background-color: red;
}

.edit-btn, .updateBtn {
  border-color: DodgerBlue;
  background-color: DodgerBlue;
}

.del-comment {
  text-align: left;
  padding-bottom: 20px;
}

.form-group, .addComment {
  text-align: left;
}

label {
  font-size: 20px;
}

.likes {
  text-align: right;
  padding: 12px 10px 0 0;
}
