body {
  padding-top: 70px;
  background: url('/images/congruent_outline.png');
  background-attachment: fixed;
  color: white;
}

input {
  color: black;
}

.index-img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid white;
}

.index-posts {
  text-align: center;
}

.form-control {
  max-width: 300px;
}

.author {
  max-width: 150px;
}

.container {
  padding-top: 25px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
}

.navbar {
  padding-bottom: 10px;
  background-color: #3423A6;
}

.main-header {
  display: flex;
  margin: 0 50px 0 50px ;
}

.new-meme {
  position: absolute;
  right: 20px;
  top: 25px;
}

button {
  padding: 5px;
  color: black;
  border-radius: 10px;
}
